
.App {
  min-height: '100vh';
  background: aliceblue;
  margin: 0px auto;
}

.charts-container {
  max-width: 600px;
  margin: 0px auto;
  text-align: center;
}

.tweets-container {
  max-height: 500px;
  overflow-y: scroll;
}